
<div class="main">
        <mat-card class="maincard" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="space-around center">
    
                        <div fxLayout="column" fxLayoutAlign="space-around center">
                                <div style="align-content: center">
                                    <h1 style="color: darkgreen">
                                        Fundoo Notes
                                    </h1>
                                </div>
                                <div style="align-content: center">
                                    <h2 style="color: brown">
                                            Reset Password
                                    </h2>
                                   </div>
                                        <div>
                        
                                                <p style="color:black ">
                                                        Enter New Password
                                                    </p>
                                            
                                            <mat-form-field appearance="outline">
                                    
                                                <mat-label>password</mat-label>
                                                <input matInput placeholder="Enter New Password" [formControl]="password" [(ngModel)]="reset.password" required>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field appearance="outline">
                                    
                                                <mat-label>confirm-password</mat-label>
                                                <input matInput placeholder="Re-Enter Password" [formControl]="confirm"[(ngModel)]="reset.confirm" required>
                                            </mat-form-field>



                                        </div>
                        
                                       
                        
                                        <div class="submitButton">
    
                                            <button mat-button color=primary (click)="onReset()">submit</button>
                                        </div>
                            
                            </div>
                </div>
        </mat-card>
    </div>
    