<div class="main">
    <mat-card class="maincard" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="space-around center">

                    <div fxLayout="column" fxLayoutAlign="space-around center">
                            <div style="align-content: center">
                                <h1 style="color: darkgreen">
                                    Fundoo Notes
                                </h1>
                            </div>
                            <div style="align-content: center">
                                <h2 style="color:indianred">
                                        Account recovery
                                </h2>
                               </div>
                                    <div>
                                  
                                            <p style="color:black ">
                                                    Enter Register E-mail
                                                </p>
                                        
                                        <mat-form-field appearance="outline">
                                        
                                            <mat-label>E-mail</mat-label>
                                            <input matInput placeholder="Enter E-mailId" [formControl]="email"[(ngModel)]="forgot.email" required>
                                        </mat-form-field>
                                    </div>
                    
                                    <div class="submitButton">

                                        <button mat-button color=primary (click)="onForgot()">submit</button>
                                    </div>
            
                        </div>
            </div>
    </mat-card>
</div>
