.main{
    display: flex;
    justify-content: center;
    background-color:powderblue;
}
.maincard{
    display: flex;
    justify-content: center;
    width: 40%;
    color:seagreen
}
.submitButton{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    color: royalblue;
    background-color:lightsteelblue
    
    

}